/*HEADER*/
#headerPanel 
{
    background-color: var(--headerFooterColor);
    color: white;
    padding: 0 0.5rem;
}

#headerTitle 
{
    padding: 1rem 1rem;
    text-align: center;
}

#headerTitle h6 
{
    margin-top: 0.5rem;
}

#headerTitle img 
{
    width: 20rem;
}

main section
{
    margin-top: 1rem;
}

/*ASIDE*/
.layer 
{
    background-color: var(--mainColor);
    color: white;
    text-align: center;
    display: flow-root;
}

.layerTitle 
{
    padding: 1rem;
    position: sticky;
    z-index: 99;
    top: 3rem;
    left: 0px;
    width: 100%;
    background-color: var(--mainColor);
}

.layerContent
{
    display: flow-root;
    background-color: white;
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    color: black;
}

#footer 
{
    clear: both;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    background-color: var(--headerFooterColor);
}