/*HEADER*/
#headerPanel 
{
    background-color: var(--headerFooterColor);
    color: white;
    padding: 0 0.5rem;
}

#headerTitle 
{
    padding: 1rem 1rem;
    text-align: center;
}

#headerTitle h6 
{
    margin-top: 0.5rem;
}

#headerTitle img 
{
    width: 20rem;
}

/*FOOTER*/
#footer 
{
    clear: both;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    background-color: var(--headerFooterColor);
}

/*MAIN*/
main section
{
    margin-top: 1rem;
}

.layer 
{
    background-color: var(--mainColor);
    color: white;
    text-align: center;
    display: flow-root;
}

.layerTitle 
{
    padding: 1rem;
    position: sticky;
    z-index: 99;
    top: 3rem;
    left: 0px;
    width: 100%;
    background-color: var(--mainColor);
}

.layerContent
{
    display: flow-root;
    background-color: white;
    margin: 0 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    color: black;
}

/*MEDIA QUERY*/
@media screen and (min-width:2000.5px) and (max-width:2560px)
{
    html 
    {
        font-size: 32px;
    }
}

@media screen and (min-width:1440px) and (max-width:2000px)
{
    html 
    {
        font-size: 17px;
    }
}

@media screen and (max-width:500.5px) 
{
    #headerPanel section 
    {
        padding: 1rem;
    }

    .layerTitle, .layerContent 
    {
        padding: 0.5rem;
    }
}

@media screen and (max-width:425.5px) 
{
    html 
    {
        font-size: 15px;
    }
}

@media screen and (max-width:375.5px) 
{
    html 
    {
        font-size: 13px;
    }
}

@media screen and (max-width:320.5px) 
{
    html 
    {
        font-size: 12px;
    }
}