@media screen and (max-width: 900.5px)  
{

    #navBarLogo 
    {
        margin: 0.5rem 0rem;
    }
 
    #rightGroup a 
    {
        padding: 0.35rem 0.5rem;
    }
}

@media screen and (max-width: 834.5px)  
{
    #centerGroup
    {
        position: static;
        float: left;
    }
}

@media screen and (max-width: 700.5px)  {
 
    #hamburger { display: block; }
    
    #navBarList li, #centerGroup, #leftGroup
    {
        float: none;
        margin: 0;
        width: 100%;
    }

    #navBar .responsiveImg 
    {
        margin: 0em;
        margin-left: auto;
    }

    #hamburgerDropDown 
    {
        display: none;
        position: absolute;
        overflow: visible;
        left: 0em;
        padding-bottom: 0.5rem;
        z-index: 1;
    }

    #navBarList li a 
    {
        text-align: start;
        padding: 1rem;
        width: 100%;
    }

    .dropdownContent 
    {
        left: 7rem;
        top: 0rem;   
    }

    #navBarList .dropdownContent a {
        text-align: start;
        padding: 1rem;
        width: 100%;
    }
}
